table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.coffeename {
    font-size: 30px;
}

.roasttype {
    color: gray;
}

.title {
    text-align: center;
    margin-top: 10px;
}

label {
    margin-bottom: 0;
}

#submit, #submit-add{
    margin-top: 10px;
}

button {
    position: absolute;
    top: 15px;
    right: 10px;
}

#coffee-name, #coffee-add-name {
    padding-left: 5px;
}

body {
    background-color: bisque;
}